@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
    font-family: cutive mono;
}

body {
    background-color: black;
    color: rgb(27, 147, 35);
    background-image: url("assets/blurry-gradient-haikei.svg");
    background-repeat: none;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
    font-size: 32px;
}

#content {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    font-size: 24px;
}

.Title {
    text-align: center;
    font-size: 64px;
    font-family: cutive mono;
}

p {
    font-size: 20px;
}

.pills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0 0 0;

}

.redPill {
    width: 380px;
    height: 60px;
    background-color: rgb(236, 0, 0);
    border: none;
    border-radius: 60px;
    box-shadow: 0 0 16px rgb(236, 0, 0);
    cursor: pointer;
    transition: all 300ms ease;
}

.redPill:hover {
    filter: brightness(1.2);
    color: white;
    box-shadow: 0 0 32px rgb(236, 0, 0);
}

.bluePill {
    width: 380px;
    height: 60px;
    background-color: rgb(0, 136, 255);
    border: none;
    border-radius: 60px;
    box-shadow: 0 0 32px rgb(0, 136, 255);
    cursor: pointer;
    transition: all 300ms ease;
}

.bluePill:hover {
    filter: brightness(1.2);
    color: white;
}

.math {
    margin: 60px auto;
    cursor: default;
    max-width: fit-content;
    background-color: black;
    padding: 15px 20px;
    border: 1px solid rgb(27, 147, 35);
    box-shadow: 0 0 32px rgb(27, 147, 35);
    color: white;
}

.mathButton {
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(27, 147, 35);
    box-shadow: 0 0 32px rgb(27, 147, 35);
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 24px;

}

.mathButton:hover {
    background-color: white;
    color: rgb(27, 147, 35);
    box-shadow: 0 0 32px white;
}

.paragraph {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text {
    font-weight: 100;
    font-size: 64px;
}

.dud {
    color: #e0e0e0;
}

.comptage {
    margin-top: 60px;
}

canvas {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.353);
    margin: 0 auto;
}

.bottom{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    opacity: 0.3;
    transition: all 300ms ease;
}

.bottom:hover{
    opacity: 1;
}