/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
    font-family: cutive mono;
}

body {
    background-image: url(assets/blurry-gradient-haikei.svg);
    color: rgb(27, 147, 35);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

p {
    font-size: 20px;
}

/* COMMON */

#content {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    font-size: 24px;
    height: 100vh;
}

.footer {
    display: flex;
    justify-content: center;
    opacity: 0.4;
    margin-top: 0px;
    transition: all 300ms ease;
    font-size: 16px;
}

.footer:hover {
    color: rgb(27, 147, 35);
    opacity: 1;
}

/* INDEX */

.text {
    font-size: 64px;
}

.dud {
    color: #5e5e5e;
}

.fa-angles-down {
    animation: fadeIn 1s ease-in-out 16s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0);
        /* start position */
    }

    to {
        opacity: 1;
        transform: translateY(-1000%);
        /* end position */
    }
}

.pillsHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 120px auto;
    max-width: 800px;
}

.pill {
    width: 300px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    transition: all 300ms ease;
}

.redPill {
    background-color: rgb(236, 0, 0);
    box-shadow: 0 0 16px rgb(236, 0, 0);
}

.redPill:hover {
    filter: brightness(1.2);
    color: white;
    box-shadow: 0 0 32px rgb(236, 0, 0);
}

.bluePill {
    background-color: rgb(0, 136, 255);
    box-shadow: 0 0 16px rgb(0, 136, 255);
}

.bluePill:hover {
    filter: brightness(1.2);
    color: white;
    box-shadow: 0 0 32px rgb(0, 136, 255);
}

/* Red Pill */

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#textHolder {
    margin-top: 100px;
}

.paragraph {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.join {
    margin: 60px auto;
    cursor: default;
    max-width: fit-content;
    background-color: black;
    padding: 15px 20px;
    border: 1px solid rgb(27, 147, 35);
    box-shadow: 0 0 16px rgb(27, 147, 35);
    color: #F1F1F1;
    font-size: 24px;
    transition: all 300ms ease;
}

.join:hover {
    color: #FFFFFF;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 32px rgb(27, 147, 35);
}

/* GAME */

canvas {
    margin: 0 auto;
    border: 1px solid rgb(27, 147, 35);
}

.footerHolder {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    transition: all 300ms ease;
}